---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Bienvenidos a Tech NEWS</h1>
			<h2>Tu Fuente Confiable de Novedades Tecnológicas</h2>
			<p>
				En un mundo que avanza a una velocidad vertiginosa, mantenerse al día con las últimas tendencias y desarrollos tecnológicos es más importante que nunca. En Tech NEWS, nos enorgullece ser tu ventana al emocionante universo de la tecnología, donde la innovación es constante y las posibilidades son infinitas.
En nuestro blog, te ofrecemos un asiento de primera fila para explorar un fascinante mundo de noticias tecnológicas. Nuestro equipo de expertos está dedicado a brindarte análisis perspicaces, reseñas detalladas y actualizaciones oportunas sobre los avances más recientes en la industria
			</p>
			
			
			<ul>
				<li>Últimos Lanzamientos de Dispositivos: Mantén a tus lectores al tanto de los últimos smartphones, laptops, tablets, wearables y otros dispositivos electrónicos</li>
				<li>Inteligencia Artificial (IA) y Aprendizaje Automático: Explora los avances en IA y aprendizaje automático, desde aplicaciones en la vida cotidiana hasta desarrollos en el ámbito empresarial y la investigación. </li>
				<li>Ciberseguridad y Privacidad en Línea: Proporciona consejos y mejores prácticas para mantener seguros los datos y la información personal en línea</li>
				<li>Innovación en Energía y Sostenibilidad: Aborda cómo la tecnología está contribuyendo a la sostenibilidad y la conservación de recursos</li>

			</ul>
			<p>
				Gracias por unirte a nuestra comunidad de entusiastas de la tecnología. Ya seas un profesional de la industria, un aficionado curioso o alguien que recién está comenzando su viaje tecnológico, ¡estás en el lugar adecuado!
			</p>
			<p>
				Bienvenido a la era de la innovación continua. ¡Bienvenido a Tech NEWS!
			</p>
		</main>
		<Footer />
	</body>
</html>
